<?xml version="1.0"?>
<MenuData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 Code="All" Name="所有权限" ShowOnMenu="true" Desc="选择此项后可使用此系统内所有功能">
	<ChildItem Code="None" Name="主页" AreaName="Admin" Controller="Home" Action="Welcome" ShowOnMenu="true" Desc="主页" Class="fa-home">
	</ChildItem>   
	<ChildItem Code="HistoryUserOperationLog,HistoryExecuteLog" Name="历史数据" AreaName="" Controller="" Action="" ShowOnMenu="true" Desc="" Class="fa-history">
	   <ChildItem Code="HistoryUserOperationLog" Name="操作日志" AreaName="History" Controller="UserOperationLog" Action="Index" ShowOnMenu="true" Desc="">
		</ChildItem>
		<ChildItem Code="HistoryExecuteLog" Name="运行日志" AreaName="History" Controller="ExecuteLog" Action="Index" ShowOnMenu="true" Desc="">
		</ChildItem>
	</ChildItem>
	<ChildItem Code="StockMatter,StockMatterType" Name="基础数据" AreaName="" Controller="" Action="" ShowOnMenu="true" Desc="" Class="fa-database">
	   <ChildItem Code="StockMatter" Name="物料列表" AreaName="Stock" Controller="Matter" Action="Index" ShowOnMenu="true" Desc="">
		</ChildItem>
		<ChildItem Code="StockMatterType" Name="物料类型" AreaName="Stock" Controller="MatterType" Action="Index" ShowOnMenu="true" Desc="">
		</ChildItem> 
		<ChildItem Code="StockMatterType" Name="数据导入" AreaName="Stock" Controller="DataImport" Action="Index" ShowOnMenu="false" Desc="">
		</ChildItem>
	</ChildItem>
	<ChildItem Code="SystemDictionary,SystemUser,SystemRole" Name="系统设置" AreaName="" Controller="" Action="" ShowOnMenu="true" Desc="" Class="fa-gear">
		<ChildItem Code="SystemDictionary" Name="字典管理" AreaName="System" Controller="Dictionary" Action="Index" ShowOnMenu="false" Desc="">
		</ChildItem>
		<ChildItem Code="SystemUser" Name="用户管理" AreaName="System" Controller="User" Action="Index" ShowOnMenu="true" Desc="">
		</ChildItem>
		<ChildItem Code="SystemRole" Name="角色管理" AreaName="System" Controller="Role" Action="Index" ShowOnMenu="true" Desc="">
		</ChildItem> 
	</ChildItem>
</MenuData>